.layout{
  &.steps{
    .title{
      &:after{
        position: absolute;
        content: "";
        height: 4px;
        width: 50px;
        background-color: $yellow-light;
        left: calc(50% - 25px);
        bottom: -2rem;
      }

      .sans-serif{
        font-weight: normal;
      }
    }
    .wrapper{
      padding-top: 4rem;
      justify-content: center;

      .item{
        align-items: center;

        &:nth-of-type(even){

          div:first-child{
            order: 2;
          }

          div:last-child{
            order: 1;
          }
        }
      }
    }
  }
}
