.template{
  &-cart{
    .shop_table{
      background: $light;
      font-size: 1rem;
      font-weight: 400;
      color: $black;

      &_wrapper{
        width: 100%;
      }

      thead{
        th{
          border: none;
        }
      }

      tbody{

        .cart-item{
          border-bottom: 1px solid #ddd1b6;

          .product-remove{
            position: relative;

            .remove{
              position: absolute;
              top: calc(50% - 12px);
              color: $red;
              border: 1px solid $red;
              border-radius: 30px;
              display: inline-block;
              height: 24px;
              width: 24px;
              line-height: 20px;
              text-align: center;
            }
          }

          .product-thumbnail{
            text-align: center;

            a{
              display: inline-block;
              width: 80px;

              img{
                @extend .img-fluid;
              }
            }
          }

          .product-remove,
          .product-thumbnail,
          .product-name,
          .product-price,
          .product-quantity,
          .product-subtotal{
            height: 80px;
            vertical-align: middle;
            border: none;
          }
        }
      }
    }
    #coupon_code{
      margin-right: 1rem;
      margin-bottom: .8rem;
    }
  }
}

@include media-breakpoint-down(sm){
  .woocommerce{
    &-cart{
      .shop_table_wrapper{
        overflow-x: scroll;

        .shop_table{
          min-width: 720px;
        }
      }
    }
  }
}
