.woocommerce{
  .product{

    .woocommerce-product-gallery{
      text-align: center;
    }

    &-price{
      color: $brown-400;
    }

    &-add-to-cart{
      margin-top: 2rem;

      .add-to-cart-button{
        font-style: italic;
        font-weight: bold;
        padding: .8rem 2rem;
        margin-left: 1rem;
      }
    }

    #woocommerce_product_tabs{
      border-bottom: 1px solid #ddd1b6;

      .nav-item{
        margin-bottom: -1px;

        .nav-link{
          font-family: Zilla Slab,serif;
          padding-bottom: 1.3rem;
          background: transparent;
          border-top:none;
          border-left: none;
          border-right: none;
          border-bottom: 5px solid transparent;

          &.active{
            border-bottom: 5px solid $yellow;
            color: $brown;
          }
        }
      }
    }
    #woocommerce_product_panels{
      padding-top: 2rem;
    }
  }
}
