.woocommerce{
  .description{
    font-size: 1.188rem;
  }

  .products{
    .product{
      position: relative;
      text-align: center;
      margin-bottom: 5rem;

      .woocommerce-loop-product__title{
        font-family: 'Zilla Slab', serif;
        font-size: 1.448rem;
        color: $brown;
      }

      img{
        @extend .img-fluid;
        margin-bottom: 1rem;
      }

      .price{
        font-family: 'Amaranth', sans-serif;
        font-style: italic;
        color: $brown-400;
        font-size: 1.19rem;
      }

      .add_to_cart_button{
        display: none;
      }

      &:after,
      &:before{
        position: absolute;
        right: 0;
        left: 0;
        content:'';
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .3s ease;
        opacity: 0;
      }

      &:hover{
        .woocommerce-loop-product__title{
          color: $blue-light;
        }

        &:before{
          top: -2rem;
          height: 65px;
          opacity: 1;
          background-image: url('../images/product-hover-top.png');
        }

        &:after{
          bottom: -2rem;
          height: 13px;
          opacity: 1;
          background-image: url('../images/product-hover-bottom.png');
        }
      }
    }
  }

  .promotion{
    .shipping{}
    .shop{
      font-size: 1.438rem;
      line-height: 32px;

      a{
        color: $white;
        line-height: 37.5px;
      }

      img{
        transform-origin: center;
        transform: translateY(2rem);
      }

      &-bg{
        position: absolute;
        left: 35px;
        right: 35px;
        top: -30px;
        bottom: -20px;
        z-index: -1;

        svg{
          fill: #afd1a9;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg){
  .woocommerce{
    .promotion{
      .shop{
        &-bg{
          left: 0px;
          right: 0px;
        }
      }
    }
  }
}
