body{
  background: linear-gradient(0deg, rgba(#f3f0e9, .5), rgba(#f3f0e9, .5)), url('../images/papier.jpg');
}

.bg-contain{
  background-size: contain !important;
}

.bg-cover{
  background-size: cover !important;
}

.bg-center{
  background-position: center !important;

  &-top{
    background-position: center top !important;
  }
  &-left{
    background-position: center left !important;
  }
  &-right{
    background-position: center right !important;
  }
  &-bottom{
    background-position: center bottom !important;
  }
}

header, section, footer{
  position: relative;

  .container{
    position: relative;
    &-fluid{
      position: relative;
    }
  }

  .container-bg,
  .section-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
  }
}

$max: 105;
$step: 5;

// Generate diffrent opacity background varients based on theme-colors()
@each $color, $value in $theme-colors {
  @for $i from 1 through ceil($max/$step) {
      $num: ($i - 1)*$step;
      .bg-#{$color}-#{$num} {
        background-color: rgba($value, $num / 100);
      }
  }
}
