.btn{
  margin-right: 1rem;
  margin-bottom: .8rem;
  font-weight: 700;
  border-radius: 90rem;

  @extend .box-shadow;

  &-sm{
    font-style: italic;
  }

  &[class*="outline"]{
    box-shadow: none;
  }

  &-yellow{
    //button-variant($background, $border, $hover-background, $hover-border, $active-background, $active-border)
    @include button-variant($yellow, $yellow, #fcd975, #fcd975, #fcd975, #fcd975);
  }

  &:focus:not([class*="outline"]),
  &:active:not([class*="outline"]){
    box-shadow: 0px 2px 4px 0 rgba(255, 207, 71, 0.6) !important;
  }
}
