.facts{
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color:rgba($yellow-light, .2);

  .facts-item{
    text-align: center;
    min-height:280px;
    padding-top: 50px;
    padding-bottom:30px;
    margin-right: -($grid-gutter-width / 3);
    margin-left: -($grid-gutter-width / 3);

    .facts-bg{
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      z-index: -1;
    }

    .facts-content{
      strong,
      b{
        font-size: 2.15rem;
      }
      i{
        font-style: normal;
        padding: 1px 5px;
        color: $white;
        font-size: 2.15rem;
      }
    }

    // For every facts-item
    @each $color, $value in $theme-colors {
      &.#{$color}{
        i{
          // color: color-yiq($value);
          background-color: $value;
        }
        svg{
          fill: rgba($value, .6);
        }
      }
    }
  }
}
