.form-control{
  font-family: 'Zilla Slab', serif;
  font-weight: 400;

  &::placeholder{
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
  }
}
.wpcf7-form{
  .wpcf7-textarea{
    padding-top: .8rem;
    height: 120px;
  }

  .wpcf7-acceptance{
    display: block;
    font-family: 'Zilla Slab', serif;
    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .wpcf7-list-item{
      margin: 0;

      & > label{

        input[type='checkbox']{
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          & ~ .wpcf7-list-item-label{
            &:before{
              display: inline-block;
              height:20px;
              width:20px;
              border: 2px solid $yellow;
              vertical-align: text-top;
              margin-right: .6rem;
              content:'';
            }
          }

          &:checked ~ .wpcf7-list-item-label{
            &:before{
              background-image: url('../images/icons/icon-checkmark-dark.svg');
              background-repeat: no-repeat;
              background-size: .7rem;
              background-position: center;
            }
          }
        }
      }
    }
  }

  .wpcf7-submit{
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-yellow;
  }
  .wpcf7-not-valid{
    border-color: $red;
  }

  .wpcf7-not-valid-tip{
    font-family: 'Zilla Slab', serif;
    color: $red;
    font-size: 15px;
  }

  .wpcf7-response-output{
    border: none;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    font-size: 15px;
  }

  .wpcf7-response-output{
    margin:0;
    padding: 1rem 0;

    &.wpcf7-validation-errors,
    &.wpcf7-mail-sent-ng,
    &.wpcf7-validation-missing,
    &.wpcf7-mail-sent-ok{
      &:before{
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        width: 40px;
        margin-right: 1rem;
        border-radius: 90rem;
        text-align: center;
      }
    }

    &.wpcf7-validation-errors,
    &.wpcf7-mail-sent-ng{
      &:before{
        border: 2px solid $red;
        color: $red;
        content:"\d7";
        font-size: 50px;
        line-height: 30px;
      }
    }

    &.wpcf7-validation-missing{
      &:before{
        border: 2px solid $blue-light;
        color: $blue-light;
        content:'?';
        font-size: 32px;
        line-height: 34px;
      }
    }

    &.wpcf7-mail-sent-ok{
      &:before{
        border: 2px solid $green;
        color: $green;
        content:'\2713';
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}

.select2{
  .selection{
    .select2-selection{
      border: 2px solid $yellow;
      height: 50px;
      border-radius: 0;
      background-color: transparent;

      .select2-selection__rendered{
        line-height: 45px;
      }

      .select2-selection__arrow{
        height: 50px;
        width: 40px;

        b{
          border-top-color: $yellow;
          border-width: 7px 6px 0 6px;
        }
      }
    }
  }

  &.select2-container--open{
    .selection{
      .select2-selection{
        border: 2px solid $cyan;

        .select2-selection__arrow{
          b{
            border-bottom-color: $yellow;
            border-width: 0px 4px 5px 4px;
          }
        }
      }
    }
  }
}
.select2-container{
  .select2-dropdown{
    border: 2px solid $cyan;
    border-radius: 0;
  }
}


select{
  @extend .custom-select;
}
