::selection {
  background: #ffcf47;
}

*{
  transition: all .3s ease;
}

.box-shadow{
  box-shadow: 0px 2px 4px 0 rgba(26, 23, 27, 0.25);
}

.overflow-hidden{
  overflow: hidden;
}

.img-round{
  border-radius: 9999px !important;
}
.container{
  position: relative;
  &-fluid{
    position: relative;
  }
  &-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
  }
}
