.layout{
  &.gallery{
    width: 650px;
    margin:0 auto;
    padding-bottom: 5rem;

    .sans-serif{
      font-weight: normal;
    }

    &:after{
      position: absolute;
      content: "";
      width: 140px;
      height: 4px;
      background-color: $yellow-light;
      bottom: 2rem;
      left: calc(50% - 70px);
    }

    .wrapper{
      padding-top: 2rem;

      .slick-slide{
        padding: 8px;
      }

      .description{
        padding-top: 2rem;

        .title{
          font-family: 'Zilla Slab', serif;
          font-weight: bold;
          font-size: 1.625rem;
          text-align: center;
        }
      }

      .slick-arrow{
        position: absolute;
        width: 46px;
        height: 46px;
        background-color: $yellow-light;
        border: 0px;
        top: 143px;
        font-size: 0px;

        &:before{
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        &.slick-prev{
          left: -100px;

          &:before{
            position: absolute;
            display: block;
            content: "";
            width: 25px;
            height: 20px;
            top: 13px;
            left: 10px;
            background-image: url('../images/icons/icon-pijl.svg');
          }
        }

        &.slick-next{
          right: -100px;

          &:before{
            position: absolute;
            display: block;
            content: "";
            width: 25px;
            height: 20px;
            top: 13px;
            left: 10px;
            background-image: url('../images/icons/icon-pijl.svg');
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
