.element{
  &.employees-list{
    .sans-serif{
      font-weight: normal;
    }

    .wrapper{
      padding-top: 2rem;

      .employee{
        text-align: center;
        padding-bottom: 2rem;

        .name{
          padding-top: 1rem;
          font-size: 1.125rem;
          font-family: 'Amaranth', sans-serif;
        }

        .description{
          font-size: 1.125rem;
          font-family: 'Amaranth', sans-serif;
          font-style: italic;
        }
      }
    }
  }
}
