.element{
  &.employees-display{
    padding-top: 1rem;

    .sans-serif{
      font-weight: normal;
    }

    .employees-item{
      text-align: center;
      margin-bottom: -3rem;

      .names{
        margin-top: 2rem;
        font-size: 1.125rem;
        font-family: 'Amaranth', sans-serif;
      }

      .label{
        font-size: 1.125rem;
        font-family: 'Amaranth', sans-serif;
        font-style: italic;
      }

      &:nth-of-type(even){
        padding-top: 5rem;
      }

      &:nth-last-of-type(1){
        margin-bottom: 2rem;
      }
    }
  }
}
@include media-breakpoint-down(xs){
  .element{
    &.employees-display{
      .wrapper{
        .item{
          display: inline-block;
          float:none;
          width: 100%;
          margin-bottom: 2rem;
        }
        .item:nth-of-type(even){
          margin-top: 0px;
        }
      }
    }
  }
}
