.element{
  &.header{
    overflow: hidden;
    background-color: rgba(#faeed2, .6);

    ul{
      li{
        font-size: 1.063rem; // About 17px
      }
    }

    .display-1{
      font-family: 'Zilla Slab', serif;
      text-shadow: 0.7px 0.7px 3px rgba(255, 255, 225, .15), 1.5px 1.3px 4px rgba(255, 255, 255, .15);
      margin-bottom: 2.8rem;
    }

    .header-title-mobile{
      display: none;
    }

    &-narrow{
      .container-bg{
        background-position: top left;
        right: 30%;
      }

      .col-left{
        max-width: 70%;
      }

      .col-right{
        max-width: 30%;
        min-height: 450px;
        max-height: 900px;
      }
    }

    &-wide{
      .container-bg{
        right: 33.3333333333%;
      }

      .col-left{
        max-width: 60%;
      }

      .col-right{
        max-width: 40%;
        min-height: 450px;
        max-height: 9000px;
      }
    }
  }
}

@include media-breakpoint-up(md){
  .element{
    &.header{
      &-narrow,
      &-wide{
        .col-right{
          max-height: 450px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md){
  .element{
    &.header{
      .header-title-mobile{
        position: absolute;
        display: block;
        font-family: 'Zilla Slab', serif;
        font-size: 2.5rem;
        font-weight: 800;
        width: 100%;
        bottom: 1.3rem;
        left: 1.3rem;
        color: $white;
        text-shadow: .7px .7px 3px rgba(255, 255, 225, .15), 1.5px 1.3px 4px rgba(255, 255, 255, .15);
      }
    }
  }
}

@include media-breakpoint-down(md){
  .element{
    &.header{
      .col-left{
        max-width: 60%;
      }

      .col-right{
        max-width: 40%;
      }

      &-narrow,
      &-wide{
        .container-bg{
          right: 40%;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm){
  .element{
    &.header{
      .col-left{
        max-width: 100%;
      }

      .col-right{
        max-width: 100%;
      }

      &-narrow,
      &-wide{
        .container-bg{
          position: relative;
          height: 320px;
          background-position: top center;
          margin-left: -($grid-gutter-width / 2);
          margin-right: -($grid-gutter-width / 2);
          right: 0;
        }
      }
    }
  }
}
