.element{
  &.header{
    ul{
      li{
        font-size: 1.063rem; // About 17px
      }
    }

    .display-1{
      text-shadow: 0.7px 0.7px 3px rgba(255, 255, 225, .15), 1.5px 1.3px 4px rgba(255, 255, 255, .15);
    }

    &-narrow{
      .container-bg{
        right: 30%;
      }
      .col-left{
        max-width: 70%;
      }
      .col-right{
        max-width: 30%;
      }
    }

    &-wide{
      .container-bg{
        right: 33.3333333333%;
      }
      .col-left{
        max-width: 60%;
      }
      .col-right{
        max-width: 40%;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .element{
    &.header{
      .col-left{
        max-width: 100%;
      }

      .col-right{
        max-width: 100%;
      }

      &-narrow{
        .container-bg{
          right: 0;
        }
      }

      &-wide{
        .container-bg{
          right: 0;
        }
      }
    }
  }
}
