header{
  position: relative;
  z-index: 100;
  box-shadow: 0px 2px 4px 0 rgba(26, 23, 27, 0.16);

  .navbar{
    padding: 0;

    .navbar-brand{
      margin-top: -26px;
      margin-bottom: -6px;

      img{
        width: 290px;
      }
    }

    .navbar-toggler{
      outline: none;
    }

    .winkelmandje{
      display: inline-block;
      color: $black;
      padding-right: .8rem;

      &:hover,
      &:active,
      &:focus{
        text-decoration: none;
      }

      &-icon{
        display: inline-block;
        vertical-align: middle;
        background-image: url('../images/icons/icon-winkelmandje.svg');
        height: 32px;
        width: 32px;
        margin-right: .2rem;
      }

      &-prijs{
        font-style: italic;
      }
    }
  }

  #nav-top{
    height: 40px;
    .nav-item{
      .nav-link{
        font-size: .813rem;
      }
    }
  }

  #nav-main{
    .container{
      align-items: start;
      margin-top: 0px;

      .nav-item{
        .nav-link{
          font-size: 1.2rem;
          font-style: italic;
        }
      }
    }
  }

  &.nav-fixed{
    .navbar-brand{
      margin-top: -15px;
      margin-bottom: -6px;
      margin-right: 4rem;

      img{
        width: 250px;
      }
    }

    #nav-top{
      height: 0px;

      .nav-item{
        .nav-link{
          color: transparent !important;
        }
      }
    }

    #nav-main{
      .container{
        margin-top: 22px;
      }
    }
  }
}

#header-spacer{
  height:114px;
}

@include media-breakpoint-down(lg){
  header{
    #nav-main{
      .navbar-toggler[aria-expanded="true"]{
        .navbar-toggler-icon{
          background-image: url('../images/icons/icon-menu-close.svg');
        }
      }
    }

    #nav-mobile{
      box-shadow:inset 0px 2px 4px 0 rgba(26, 23, 27, 0.16);
      background-color: $cyan;

      #primary_mobile,
      #secondary_mobile,
      #tertiary_mobile{
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
      }

      #primary_mobile,
      #secondary_mobile{
        padding-top: .6rem;
        padding-bottom: .6rem;
      }

      #primary_mobile{
        .nav-item{
          .nav-link{
            font-size: 1.2rem;
            font-style: italic;
          }
        }
      }

      #tertiary_mobile{
        padding-top: .8rem;
        padding-bottom: 1rem;
        border-top: 1px solid #81b7c5;
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-down(md){
  #header-spacer{
    height:81px;
  }

  header{
    .navbar-toggler{
      .navbar-toggler-text{
        vertical-align: middle;
        margin-left: 12px;
      }
    }

    .navbar{
      .navbar-brand{
        margin-top: 8px;
        margin-bottom: 9px;
        margin-right: 0px;

        img{
          width: 175px;
        }
      }
    }

    #nav-top{
      height: 0px;
      .nav-item{
        .nav-link{
          color: transparent !important;
        }
      }
    }

    #nav-main{
      .container{
        align-items: center;

      }
    }

    &.nav-fixed{
      #nav-main{
        .container{
          margin-top: 0px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm){
  #header-spacer{
    height:68px;
  }
  header{
    .navbar{
      .navbar-brand{
        margin-top: 7px;
        margin-bottom: 7px;

        img{
          width: 150px;
        }
      }

      .navbar-toggler{
        .navbar-toggler-text{
          display: none;
        }
      }

      .winkelmandje{
        &-icon{
          display: block;
          height: 28px;
          width: 28px;
          margin-right: auto;
          margin-left: auto;
        }

        &-prijs{
          display: block;
        }
      }
    }
  }
}
