.review-featured-agenda{
  position: relative;

  &:before,
  &:after{
    position: absolute;
    content: '';
    background-blend-mode: multiply;
    height: 100%;
    width: 50%;
    top: 0;
    z-index: -1;
  }

  &:before{
    // Achter reviews
    background-color: rgba(#faeed2, .6);
    left: 0;
    right: 50%;
  }

  &:after{
    // Achter Product & Agenda
    background-color: rgba(#f1e2bb, .3);
    left: 50%;
    right: 0;
  }

  .agenda{
    margin-bottom: 1rem;

    .event{
      line-height: 1.85;
      color: $brown-500;

      &:hover{
        text-decoration: none;
        color: $blue;
      }

      .date{
        display: inline-block;
        width: 140px;
      }
      .description{
        display: inline-block;
        font-size: 1.25rem;
      }
    }
  }
}

.review{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  margin-bottom: 20px;

  .author{
    background-image: url('../images/icons/icon-quote.svg');
    background-size: 100% 53px;
    background-repeat: no-repeat;
    background-position: center 5px;
    width: 20%;
    text-align: center;
    padding-top: 14px;
    font-size: .95rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.33;
  }

  .quote{
    margin-left: 27px;
    width: 80%;
    font-size: 1rem;
  }
}

@include media-breakpoint-down(sm){
  .review-featured-agenda{

    .bg-reviews{
      background-color: rgba(#faeed2, .6);
    }

    .bg-agenda{
      background-color: rgba(#f1e2bb, .3);
    }

    &:before,
    &:after{
      background-color: transparent;
    }
  }
  .review{
    flex-direction: column;

    .author{
      width: 180px;
      align-self: center;
      min-height: 60px;
    }

    .quote{
      width: 100%;
    }
  }
}
